<template>
  <a href="#" v-on:click="assignUrl" class="icon" data-toggle="modal" data-target="#deleteUserModal"><i class="fas fa-trash-alt"></i></a>
</template>

<script>
export default {
  props: ['r', 'e'],
  data: function () {
    return {
      route: '#',
      email: '#'
    }
  },
  created() {
    this.route = this.r
    this.email = this.e
    console.log('start button!')
  },
  methods: {
    assignUrl () {
      let data = {
        route: this.route,
        email: this.email
      }
      this.$root.$emit('eventchangeurl', data)
    }
  }
}
</script>