<template>
    <div>
        <div class="row p-4">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Facultades
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a v-bind:id ="'list-' + faculty.name" v-for="(faculty, index) in faculties" v-on:click="facultyClick(faculty, $event)" v-bind:key="faculty.id" class="dropdown-item" href="#">{{ faculty.name }}</a>
                </div>
            </div>
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th rowspan="2">{{ faculties[currentIndex].name }}</th>
                    <th colspan="2" style="text-align: center;">Total cursos</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="department in faculties[currentIndex].departments" v-bind:key="department.id">
                    <td scope="row" class="table-light">{{ department.name }}</td>
                    <td style="text-align: center;" class="table-light">{{ department.total_courses }}</td>
                </tr>
                <tr class="font-weight-bold">
                    <td scope="row" class="table-light">Total</td>
                    <td style="text-align: center;" class="table-light">{{ faculties[currentIndex].total_courses }}</td>
                </tr>             
            </tbody>
        </table> 
    </div>
</template>
<script>
export default {
    props: [ 'faculties' ],
    data() {
        return {
            currentIndex : 0
        }
    },
    created() {
        // console.log('created!')
    },
    methods: {
        facultyClick: function (facultySelected) {
            var indexAux = 0
            // console.log('click change faculty')
            // alert('current faculty:' + this.currentFaculty.name)
            // alert(faculty.name)

            let newFaculty = this.faculties.find(function(e, index) {
                if (e.name === facultySelected.name) {
                    // console.log(index)
                    indexAux = index
                }
                return e.name === facultySelected.name
            })
            // console.log(newFaculty)
            // console.log(indexAux)
            this.currentIndex = indexAux
            this.currentFaculty = newFaculty
        }
    }
}
</script>
