<template>
  <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Confirmación eliminar usuario</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              ¿Está seguro en eliminar el usuario {{ email }}?    
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <form v-bind:action="route" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" v-bind:value="csrf_token">
                <button type="submit" class="btn btn-primary">Eliminar</button>
              </form>
          </div>
          </div>
      </div>
  </div>
</template>

<script>
export default {
  props: ['urlin'],
  data() {
    return {
      show: false,
      email: '#',
      csrf_token: '',
      route: ''
    }
  },
  created() {
    console.log('created')
  },
  mounted() {
    // to catch event changeurl and set email user to data
    this.$root.$on('eventchangeurl', (e) => {
      this.email = e.email
      this.route = e.route
    })

    this.csrf_token = window.axios.defaults.headers.common['X-CSRF-TOKEN']
    console.log('mounted')
  },
  updated() {
    console.log('updated')
  },
  destroyed() {
    console.log('destroyed')
  },
  methods: {
    changeUrl: function () {
      console.log('change url')
    }
  }
}
</script>
