<template>
  <transition name="fade">
    <div class="alert alert-secondary" role="alert" v-if="show">
      {{ msg }}
    </div>
  </transition>
</template>

<script>
  export default {
    props:['message'],
    data() {
      
      return {
        msg: '',
        show: false
      }
    },
    mounted() {
        console.log('Component FlashMessage mounted!')
    },
    created() {
      if (this.message == "") {
        this.flash(this.message);
      } else {
        this.flash(this.message);
      }

      window.events.$on('flash', message => {
        this.flash(message);
      })
    },

    methods: {
      flash(message) {
        this.msg = message;
        this.show = true;
        this.hide();
      },

      hide() {
        setTimeout(() => {
          this.show = false;
        }, 6000);
      }
    }
  }
</script>

<style>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }

  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>
