<template>
  <div>
    <h2>Distribución de solicitudes</h2>
    <canvas id="courseChart"></canvas>
  </div>
</template>

<script>
export default {
  props: [
    "nutotalcourses",
    "nutotalelearning",
    "nutotalblearning"
  ],

  mounted() {
    console.log("Total solicitudes", this.nuTotalRequests);
    var me = this,
      nuTotalCourses = me.nutotalcourses,
      nuTotalElearning = me.nutotalelearning,
      nuTotalBlearning = me.nutotalblearning,
      elCanvasRequest = document
        .getElementById("courseChart")
        .getContext("2d");

    var chartRequests = new Chart(elCanvasRequest, {
      type: "pie",
      data: {
        datasets: [
          {
            data: [nuTotalElearning, nuTotalBlearning],
            backgroundColor: ["#295FA6", "#6BA5F2"]
          }
        ],
        labels: ["E-Learning", "B-Learning"]
      },
      options: {}
    });
  }
};
</script>

