<template>
  <div>
    <h2>{{ nutotalrequests }} Solicitudes</h2>
    <canvas id="requestChart"></canvas>

    <h4>En proceso</h4>
    <canvas id="processChart"></canvas>
  </div>
</template>

<script>
export default {
  props: [
    "nutotalrequests",
    "nuokprocess",
    "nuupdating",
    "nupaused",
    "nupendingupdate",
    "nurevision"
  ],

  mounted() {
    console.log("Total solicitudes", this.nuTotalRequests);
    var me = this,
      nuOk = me.nuokprocess,
      nuTotalRequests = me.nutotalrequests,
      nuPending = nuTotalRequests - nuOk,
      nuUpdating = me.nuupdating,
      nuPaused = me.nupaused,
      nuPendingUpdate = me.nupendingupdate,
      nuRevision = me.nurevision,
      elCanvasRequest = document
        .getElementById("requestChart")
        .getContext("2d"),
      elCanvasProcess = document
        .getElementById("processChart")
        .getContext("2d");

    var chartRequests = new Chart(elCanvasRequest, {
      type: "doughnut",
      data: {
        datasets: [
          {
            data: [nuOk, nuPending],
            backgroundColor: ["#0D7F53", "#EDB600"]
          }
        ],
        labels: ["Procesadas", "En proceso"]
      },
      options: {}
    });

    var chartProcess = new Chart(elCanvasProcess, {
      type: "horizontalBar",
      data: {
        datasets: [
          {
            data: [nuUpdating, nuPaused, nuPendingUpdate, nuRevision],
            backgroundColor: ["#004F94", "#2D779E", "#063266", "#EDB600"]
          }
        ],
        labels: ["Actualizando", "Pausadas", "Pendientes por actualizar" , "En revisión"]
      },
      options: {}
    });
  }
};
</script>

