body{
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}
.main-content {
  padding: 25px, 0;
}

.cit-logo{
  max-width: 12rem;
}

.cit-page-title{
  color: #005199;
  font-weight: 500;
}

.actions > form {
  display: inline;
}
.cit-content{
  margin-top:7rem !important;
}
.cit-header{
  z-index: 10;
  padding: 1rem;
  box-shadow: 4px 4px 10px #ccc;
  position: fixed;
  width: 100%;
  background-color: white;
  top:0;
}

.cit-header-logo{
  max-width: 14rem;
}

.cit-container-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.cit-nav-menu-user-name{
  padding: 0.25rem 1.5rem;
}
.cit-nav-menu{
  min-width:15rem;
}

.cit-nav-menu-img{
  max-width: 2rem;
}
.dropdown-toggle::after{
  display: none;
}

.cit-login-card{
  border-radius: 20px;
  min-height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 14px #ccc;
  padding: 3rem 0;
}

.cit-dashboard-card{
  border-radius: 20px;
  box-shadow: 4px 4px 14px #ccc;
  margin-bottom: 2rem !important;
}

.cit-dashboard-card-small{
  max-height: 18rem;
}
.cit-login-card .card-body{
  min-width: 70%;
}

.cit-btn{
  padding: 0.5rem 1rem;
  margin: 1rem;
  border: 1px solid #c4001a;
  border-radius: 22px;
  color: #c4001a;
  background: white;
  transition: all 0.2s ease;
  font-size: 1.2rem;
}

.cit-btn:hover{
  color: white;
  background: #c4001a;
}

.cit-btn-sm{
  min-width: 4rem;
  padding: 0.5rem 3rem;
}

.link-menu-report {
  color: #383d41;
  font-size: 0.875em;
  font-family: "Roboto", sans-serif;
}

.menu-report {
  line-height: 1.5;
  border-right: 1px solid #c4001a;
  padding-right: 10px;
}