
// Body
$body-bg: #f5f5f5;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// styles cit
$nav-pills-link-active-bg: #c4001a;
$table-bg: #f8f8ff;
$nav-tabs-link-active-color: white;
$table-dark-bg: #c4001a;
$nav-link-disabled-color: #c4001a;
$table-dark-border-color: white;